
.container{
    display: flex;
    background-color: white;
    bottom: none;
    margin-left: 60px;
}
.container .left .image{
    background-image: url("images.jpg");
    background-size: cover;
    width: 330px;
    height: 440px;
    position: absolute;
    margin-top: 40px;
    border-radius: 200px 200px 0 0;
}
.text{
    margin-top: 50px;
    margin-bottom: 30px;
}
.container .right{
    margin-left: 70px;
}
.container .left{
    margin-left: 10px;
}
input[type="button"]{
    height: 30px;
    width: 100px;
    margin-top: 110px;
    border-radius: 12px;
    margin-left: 700px;
    background-color: white;
    cursor: pointer;
    position: absolute;
}
.right .zac{
    font-size: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 120px;
    margin-top: 80px;
}
table{
    margin-left: 600px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 80%;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
table tr td a{
    padding: 10px;
}
.right .texts .titre{
    font-size: 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 130px;
}
.right .texts .tes{
    font-size: 18px;
    margin-left: 130px;
}
.left .texto{
    margin-bottom: 10px;
}
.style{
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.texts{
    margin-top: 80px;
    margin-left: 30px;
}

